In [1]:
a = 10
b = 20

In [3]:
a + b

30

In [4]:
a * b

200

In [5]:
a / b

0.5

In [6]:
def mysum(a,b):
    return a + b

In [7]:
mysum(10,20)

30

In [22]:
def mymult(a,b):
    return a * b

In [9]:
mymult(20,30)

600

In [10]:
mymult(30,40)

1200

In [11]:
res = mysum(30,20)

In [12]:
res

50

In [13]:
def mycal(a,b):
    mult = mymult(a,b)
    msum = mysum(a,b)
    return mult,msum

In [14]:
mymult, mysum = mycal(10,20)

In [15]:
mymult

200

In [16]:
mysum

30

In [17]:
def checkEvenNumber(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [19]:
checkEvenNumber(21)

False

* Take two numbers
* Check if first number is even
* If first number is even, multiply them
* Else product them
* Return the result

In [23]:
def myMainCode(num1, num2):
    checkEven = checkEvenNumber(num1)
    
    if checkEven:
        res = mymult(num1, num2)
    else:
        res = mysum(num1, num2)
        
    return res

In [24]:
myMainCode(10,20)

200

# Problem Statement
* Jack & Jill Game
* Jack increments by 2
* Jill decrements by 1

In [28]:
value = 0 

def jackFunc():
    global value
    value += 2
    
def jillFunc():
    global value
    value -= 1

In [29]:
i = 0
while i < 10:
    jackFunc()
    i += 1

In [30]:
value

20

In [31]:
i = 0
while i < 10:
    jillFunc()
    i += 1

In [32]:
value

10

In [33]:
value = 0 

def jackFunc(value):
    value += 2
    return value
    
def jillFunc(value):
    value -= 1
    return value

In [34]:
i = 0
while i < 10:
    value = jillFunc(value)
    i += 1

In [35]:
value

-10

Problem Statement :
    1. Write a function a takes a string
    2. Check if the string contains a vowel ( a )
    3. If it does, print it once 
    4. Or, print the word two times
    
Solution :
    1. Write a function to check if the word contains vowel
    2. Use the output from above to print desired number of times

In [38]:
def checkIfWordConatins(word, checkalpha):
    for ch in word:
        if ch in checkalpha:
            return True
    return False

In [41]:
checkIfWordConatins('sst','xyz')

False

In [50]:
def printWordTimes(word,times):
    for t in range(times):
        print (word)

In [51]:
def myUtilityCode(word, checkalpha, times):
    check = checkIfWordConatins(word, checkalpha)
    if check:
        print (word)
    else:
        printWordTimes(word, times)

In [52]:
myUtilityCode('Hello','el',3)

Hello

In [53]:
myUtilityCode('Hello','xy',3)

Hello
Hello
Hello

### Default Params

In [64]:
def printMyDetails(name, age=18, location='Karnataka'):
    print (name,age,location)

In [65]:
printMyDetails('Edyoda',3,'Bangalore')

Edyoda 3 Bangalore

In [62]:
printMyDetails('Edyoda','abc')

Edyoda 18 Karnataka

### Named Parameters

In [68]:
def printMyDetails(name, age=18, location='Karnataka'):
    print (name,age)

In [69]:
printMyDetails(age=20, name='abcdef', location='Mumbai')

abcdef 20

### Variable Arguments
* Packing

In [76]:
def mySum(*args):
    res = 0
    for e in args:
        res += e
    return res

In [79]:
def mySum(*args):
    return sum(args)

In [80]:
mySum(10,20)

30

In [78]:
mySum(10,20,30)

60

* Unpacking

In [81]:
l = ['blore','edyoda',10]

In [82]:
def printDetails(loc, name, age):
    print (loc, name, age)

In [83]:
printDetails(*l)

blore edyoda 10

### Named Packing

In [85]:
def myFunc(name, loc, age):
    if name == 'abc':
        print (name)
    else:
        print (loc,age)

In [86]:
myFunc(loc='mumbai',age=10,name='abc')

abc

In [94]:
def myFunc(**kwargs):
    if kwargs['name'] == 'abc':
        print (kwargs['name'])
    else:
        print (kwargs['loc'], kwargs['age'])
    
    if 'name' in kwargs:
        print (kwargs['name'])

In [95]:
myFunc(loc='mumbai',age=10,name='bcd')

mumbai 10
bcd

In [96]:
myFunc(location='mumbai',age=10,name='abc')

abc
abc

Problem :
    * mySumFunc(10,20,11,21,23)
    * mySumFunc(10,20,11,21,23,445,2323)
    * Multiply all the even numbers

In [97]:
def myMultFunc(*nums):
    res = 1
    for num in nums:
        if num %2 == 0:
            res *= num
    return res

In [99]:
myMultFunc(10,20,22,23)

4400